body {
    margin: 50px 50px 50px 50px;
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(to right, rgb(180, 57, 12),#FF9B50,#FFBB5C );

}

h1 {
    justify-content: center;
    color: #C63D2F;
    font-size: 5rem;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px;
    mix-blend-mode: difference;
}

.header {
    display: flex;
    justify-content: center;
    
    
}

.container {
    display: flex;
    justify-content: center;
    background-color: #FF9B50;
    padding: 50px 0 50px 0;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
    background-image: linear-gradient(to left, rgb(180, 57, 12),#FF9B50,#FFBB5C );
}

.hero {
    border: 0.5px solid white;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 #C63D2F;
    
    
} 

.hero:hover {
    transform: scale(1.5);
}

ul {
    list-style: none;
    display: flexbox;
   
}

ul li {
    
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
}

a {
    color: #C63D2F;
}


ul li:hover {
    background-color: #F5EEC8;
    color: #555843;
   
}


.container-list {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 50px;       
    background-color: #FF9B50;
    border-radius: 10px;    
    background-image: linear-gradient(to left, rgb(180, 57, 12),#FF9B50,#FFBB5C );
   
    
}

h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #C63D2F;
    font-size: 4rem;
    border-radius: 10px;
    
}

.lentil, .shakshuka, .squash {
    
    text-align: center; 
    mix-blend-mode: difference;  
    
}

.dish {
    display: block;
    border: 1px solid white;
    padding: 10px;
    margin: auto;
    width: 50%;
    border-radius: 10px;

}


.home {
    color: white;
    
}

.p-dish {
    text-align: center;
    font-size: large;
}

.container-list ol li {
    margin: 20px 0;
}

span {
    color: white;
    margin-left: 2rem;
    
}
